

:root {

    --portfolio-background-dark: #212529;
    --portfolio-body-dark: #2B3035;
    --portfolio-body-light: #E6E6E6;

    --portfolio-text-light: #F5F5F5;
    --portfolio-text-dark: #1E1E1E;

    --portfolio-color-primary: #1A1D20;

    --portfolio-hover-color: #A0A0A0;

    --portfolio-default-font-size: 1rem;

    --portfolio-header-height: 4rem;

}


body, html {
    width: 100%;
}


body {
    display: flex;
    flex-direction: column;
    background-color: var(--portfolio-body-dark);
    color: var(--portfolio-text-light);
    min-height: 100vh;
}



/* Header Section */


#portfolio-header {
    margin-top: calc(var(--portfolio-header-height));
}


.navbar {
    background-color: var(--portfolio-color-primary) !important;
}


.navbar li a {
    color: var(--portfolio-text-light);
}


.navbar-nav a:hover {
    color: var(--portfolio-hover-color);
    transition: color 0.25s ease;
}


/* Main Section */


#portfolio-main {
    display: flex;
    flex-direction: column;
    scroll-margin-top: 100px;
}


.hero-section {
    display: flex;
    flex-direction: column;
    background-color: var(--portfolio-background-dark);
    margin: calc(var(--portfolio-header-height)) auto;
    width: 80%;
    height: auto;
    border-radius: 50px;
    justify-content: space-between;
 
}


.title-section {
    width: auto;
    text-align: center;
    margin: 2rem 0;
    height: auto;
}


.title-section h1 {
    font-size: 2rem;
}


.title-section p {
    font-size: 1rem;
}


.subtitle-container {
    font-size: 1rem !important;
}


.personal-picture {
    display: flex;
    justify-content: center;
}


.personal-picture img {
    width: 50%;
}


#about-section {
    margin-top: 1.5rem;
    scroll-margin-top: 100px;
}


#projects-section {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    scroll-margin-top: 100px;
}


#projects-section p {
    text-align: left;
}


#projects-section a {
    color: var(--portfolio-text-light);
}


#projects-section a:hover {
    color: var(--portfolio-hover-color);
    transition: color 0.25s ease;
}


#projects-section img {
    width: 100%;
}


.link-styles {
    color: #212529;
    text-decoration: none;
}


.carousel-inner {
    margin: auto;
}


.form-container {
    text-align: center;

}


.form-container h1 {
    padding-top: 3rem;
    font-weight: 700;
}


#submit-button input {
    background-color: var(--portfolio-color-primary);
    margin-bottom: 3rem;
}


/* Footer Section */


.footer-container {
    background-color: var(--portfolio-color-primary);
    width: 100%;
}


.footer-container .row {
    flex-direction: column;
}


.social-links {
    padding-top: 1rem;

}


.social-links i:hover {
    color: #969696;
    transition: color 0.25s ease;
}


.footer-container a:hover {
    color: var(--portfolio-hover-color) !important;
    transition: color 0.25s ease;
}



/* Responsividade */


@media (min-width: 576px) {


    .hero-section {
        text-align: center;
        height: 60vh;
    }


    .title-container {
        font-size: 2rem !important;
    }


    .personal-picture img {
        width: 40%; 
    }


}


@media (min-width: 768px) {


    .title-section {
        width: 100%;
    }


    .title-section h1 {
        font-size: 3em;
    }


    .personal-picture {
        justify-content: center;
    }


    .personal-picture img {
        width: 30%;
    }

    
    .form-container {
        padding-top: 3rem;
        text-align: left;
    }


    .form-container h1 {
        padding-top: 0;
    }


    .footer-container .row {
        flex-direction: row;
    }


}


@media (min-width: 992px) {


    body {
        font-size: 1.125rem;
    }


    .hero-section {
        flex-direction: row;
      
        width: 80vw;
        height: 60vh;
    }


    .title-section {
        width: 100%;
        text-align: left;
        margin: 2rem 2rem;
        
    }


    .title-container {
        font-size: 2.5rem !important;
    }


    .subtitle-container {
        font-size: 1.25rem !important;
    }


    .personal-picture {
        width: 40%
    }


    .personal-picture img {
        align-items: flex-end;
        width: auto;
    }


    .form-container {
        padding-top: 0;
    }


}


@media (min-width: 1200px) {


    body {
        font-size: 1em;
    }


    .hero-section {
        text-align: left;
        flex-direction: row;
        width: 90vw;
        height: 80vh;

    }


    .title-container {
        font-size: 4rem !important;
    }


    .subtitle-container {
        font-size: 2rem !important;
    }


    .personal-picture img {
        width: auto;
    }


}


@media (min-width: 1400px) {

    body {
        font-size: 1.5rem;
    }
    
}