

body {
    background-color: white;
}


/* Header Container */


.navbar {
    background-color: #121416 !important;
}


.navbar li a {
    color: #FAFAFA !important;
}


.navbar-nav a:hover {
    color: #969696 !important;
}




/* Main Container */


.hero-section {
    display: flex;
    background-color: #F5F5F5;
    margin: auto;
    margin-top: 10vh;
    width: 75vw;
    height: 75vh;
    border-radius: 100px;
    justify-content: space-between;
}


.title-container {
    margin: 2rem;
}


.title-container h1 {
    font-size: 1.5em;
}


.personal-picture {
    display: flex;
    align-items: flex-end;
    margin: 0 3rem;
}


.personal-picture img {
    max-width: 100%;
    width: 25vw;
    height: auto;
}


.about-container {
    margin-top: 3rem;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: absolute;
    background-color: rgba(50, 50, 50, 0.5);
    width: 25%;
    height: 10%;
    border-radius: 25%;
    margin: 1rem;
}


.carousel-control-next-icon {
    right: 0;
}


.carousel-control-prev-icon {
    left: 0;
}


.link-styles {
    color: #212529;
    text-decoration: none;
}


.form-container h1 {
    font-weight: 700;
}


#submit-button input {
    background-color: #121416;
}


/* Footer Container */


.footer-container {
    background-color: #121416;
    width: 100%;
}


.footer-container .row {
    justify-content: space-around !important;
}


.social-links i:hover {
    color: #969696;
}


.footer-container a:hover {
    color: #969696 !important;
}


/* Responsividade */


@media (min-width: 576px) {


    .hero-section {
        text-align: center;
        flex-direction: column;
        width: 80vw;
        height: 50vh;
    }


    .personal-picture {
        justify-content: center;
    }

    
    .personal-picture img {
        position: absolute;
        max-width: 25%;
        width: 25vw;
        height: auto;
    }


}


@media (min-width: 768px) {


    .hero-section {
        text-align: center;
        flex-direction: column;
        width: 80vw;
        height: 55vh;
    }


    .personal-picture img {
        position: absolute;
        max-width: 30%;
        width: 25vw;
        height: auto;
    }


}


@media (min-width: 992px) {


    .hero-section {
        text-align: center;
        flex-direction: column;
        width: 80vw;
        height: 60vh;
    }


    .title-container h1 {
        font-size: 3em;

    }


    .personal-picture img {
        position: absolute;
        max-width: 25%;
        width: 25vw;
        height: auto;
    }

    
}


@media (min-width: 1200px) {


    .hero-section {
        text-align: left;
        flex-direction: row;
        width: 90vw;
        height: 80vh;

    }


    .title-container {
        width: 100%;

    }


    .title-container h1 {
        font-size: 4em;

    }


    .personal-picture img {
        position: relative;
        max-width: 80%;
        width: 80vw;
        height: auto;
    }


}


@media (min-width: 1400px) {
    
}